<launch>
	<rosparam file="$(find robots_gazebo)/config/armc_controller.yaml" command="load"/>
 
  <!--<node name="armc_controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
    output="screen" ns="/armc" args="armc_position_controller"/>-->

  <node name="armc_controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
    output="screen" args="armc_position_controller joint_state_controller"/>
 
</launch>
