<?xml version="1.0" encoding="UTF-8"?>
<launch>

    <arg name="robot_name"/>
    <arg name="init_pose"/>

    <param name="robot_description"
    command="$(find xacro)/xacro.py '$(find armt_description)/robots/armt.xacro'" />

    <node name="spawn_minibot_model" pkg="gazebo_ros" type="spawn_model"
     args="$(arg init_pose) -urdf -param /robot_description_tan -model $(arg robot_name)"
     respawn="false" output="screen" />

</launch>
