<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.5.0-0-g9aa0fdb  Build Version: 1.5.7004.21443
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="my_sensor">
  <link
    name="sensor_link">
    <inertial>
      <origin
        xyz="5.187E-06 8.9595E-06 0.011516"
        rpy="0 0 0" />
      <mass
        value="0.10567" />
      <inertia
        ixx="7.1441E-05"
        ixy="1.6499E-08"
        ixz="-4.9269E-09"
        iyy="7.146E-05"
        iyz="-8.5336E-09"
        izz="0.00013366" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://my_arm/meshes/sensor_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.79216 0.79216 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://my_arm/meshes/sensor_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="sensor_joint"
    type="revolute">
    <origin
      xyz="0 0 0.192"
      rpy="0 0 0.12101" />
    <parent
      link="Link7" />
    <child
      link="sensor_link" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
    <safety_controller
      k_velocity="0" />
  </joint>
</robot>