<?xml version="1.0"?>
<launch>
  <!--设定命名空间-->
  <arg name="robot_namespace" default="/"/>

  <!--加载机器人模型文件-->
  <param name="robot_description" command="$(find xacro)/xacro '$(find finger)/urdf/finger.urdf'
  --inorder
  robot_namespace:=$(arg robot_namespace)"/>
  
  <!--Add a real joint_state publisher from hardware-->
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />

  <!--get joint states and pub the robot tf-->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />

  <!--启动rviz-->
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find finger)/finger.rviz" required="true" />

</launch>

