<?xml version='1.0'?>

<robot name="unknown_surface" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:include filename="$(find unknown_surface)/robots/arm.gazebo" />
  
  <link name="world"/>
  <joint name="fixed" type="fixed">
    <parent link="world"/>
    <child link="base_link"/>
  </joint>
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="-4.8727E-19 0 0.025"
        rpy="0 0 0" />
      <mass
        value="0.098175" />
      <inertia
        ixx="3.5793E-05"
        ixy="0"
        ixz="-2.8685E-37"
        iyy="3.5793E-05"
        iyz="-1.1857E-37"
        izz="3.068E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://unknown_surface/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://unknown_surface/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="my_Link">
    <inertial>
      <origin
        xyz="-5.847E-17 3.8124E-17 0.0069755"
        rpy="0 0 0" />
      <mass
        value="0.70432" />
      <inertia
        ixx="0.007332"
        ixy="1.4008E-18"
        ixz="7.9025E-19"
        iyy="0.0023652"
        iyz="9.4998E-18"
        izz="0.0096623" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://unknown_surface/meshes/my_Link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://unknown_surface/meshes/my_Link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="my_joint"
    type="fixed">
    <origin
      xyz="0 0 0.05"
      rpy="0 0 1.5708" />
    <parent
      link="base_link" />
    <child
      link="my_Link" />
    <axis
      xyz="0 0 0" />
  </joint>
</robot>