<launch>
 
  <!-- load urdf to Gazebo  -->
  <include file="$(find tan_gazebo)/launch/armt_world.launch" />   
 
  <!-- JointStateController and robot state publisher -->
  <include file="$(find tan_gazebo)/launch/armt_gazebo_states.launch" />   
 
  <!-- ros_control TrajectoryController -->
  <include file="$(find tan_gazebo)/launch/armt_position_controller.launch" />    
 
  <!-- moveit move group -->
  <!--include file="$(find armc_moveit)/launch/demo_moveit_planning_execution.launch" /-->    
 
 
</launch>