<?xml version="1.0" encoding="UTF-8"?>
<launch>
  <!--<arg name="robot_type3" default="robotino" />-->


  <!-- No namespace here as we will share this description. Access with slash at the beginning -->
  <param name="robot_description_mir"
    command="$(find xacro)/xacro.py $(find armc_description)/robot/armc.xacro" />
  <!--<param name="robot_description_robotino"
    command="$(find xacro)/xacro.py $(find robotino_description)/urdf/robotino.urdf.xacro" />-->


  <!-- BEGIN ROBOT MIR 1-->
  <group ns="robot1">
    <param name="tf_prefix" value="robot1_tf" />
    <include file="$(find robots_gazebo)/demo/robot.launch" >
      <arg name="init_pose" value="-x 1 -y 1 -z 0" />
      <arg name="robot_name"  value="Robot1" />
    </include>
  </group>


  <!-- BEGIN ROBOT MIR 2-->
  <group ns="robot2">
    <param name="tf_prefix" value="robot2_tf" />
    <include file="$(find robots_gazebo)/demo/robot.launch" >
      <arg name="init_pose" value="-x -1 -y 1 -z 0" />
      <arg name="robot_name"  value="Robot2" />
    </include>
  </group>


  <!-- BEGIN ROBOT ROBOTINO 3-->
  <!--<group ns="robot3">
    <param name="tf_prefix" value="robot3_tf" />
    <include file="$(find mybot_gazebo)/launch/$(arg robot_type3)/robot.launch" >
      <arg name="init_pose" value="-x -3 -y 1 -z 0" />
      <arg name="robot_name"  value="Robot3" />
    </include>
  </group>-->


</launch>
