<launch>
  <!--加载控制器参数-->
	<rosparam file="$(find armc_gazebo)/config/controller.yaml" command="load"/>
 
  <!--加载位置控制器-->
  <node name="armc_controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
    output="screen" ns="/armc" args="joint_positions_controller" />

  <!--加载位置控制器-->
  <!--<node name="finger_controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
    output="screen" ns="/armc" args="finger_controller" />-->

  <!--加载关节状态控制器-->
  <node name="joint_controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
		output="screen" ns="/armc" args="joint_state_controller" />
  
  <!-- 转换关节状态到TF transforms来加载rviz -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"
	      respawn="false" output="screen">
    <!--<remap from="/joint_states" to="armc/joint_states" />-->
  </node>
 
</launch>
