<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.5.1-0-g916b5db  Build Version: 1.5.7152.31018
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="unknown_surface">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="-4.8727E-19 0 0.025"
        rpy="0 0 0" />
      <mass
        value="0.098175" />
      <inertia
        ixx="3.5793E-05"
        ixy="0"
        ixz="-2.8685E-37"
        iyy="3.5793E-05"
        iyz="-1.1857E-37"
        izz="3.068E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://unknown_surface/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://unknown_surface/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="my_Link">
    <inertial>
      <origin
        xyz="-5.847E-17 3.8124E-17 0.0069755"
        rpy="0 0 0" />
      <mass
        value="0.70432" />
      <inertia
        ixx="0.007332"
        ixy="1.4008E-18"
        ixz="7.9025E-19"
        iyy="0.0023652"
        iyz="9.4998E-18"
        izz="0.0096623" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://unknown_surface/meshes/my_Link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://unknown_surface/meshes/my_Link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="my_joint"
    type="fixed">
    <origin
      xyz="0 0 0.05"
      rpy="0 0 1.5708" />
    <parent
      link="base_link" />
    <child
      link="my_Link" />
    <axis
      xyz="0 0 0" />
  </joint>
</robot>